#############################################################
# Variables for configuring GitHub OAuth App used for logging
#############################################################
# Create GitHub App on GitHub:
# - https://github.com/settings/apps/new
# - Set `GitHub App name` to something like `diffkemp-automation-login`
# - Set `Homepage URL` to something like `http://127.0.0.1:5000/` or your domain
# - Set `Callback URL` to `http://127.0.0.1:5000/auth/auth` or `domain/auth/auth`
# - Deactivate Webhook
# - No need to set any permissions
# - Create the GitHub App
# - No need to generate a private key as we will not install the app

# Client ID of the created GitHub App
GITHUB_LOGIN_CLIENT_ID=

# Client secret for creating access token
# Generate on the created GitHub App and paste it here
GITHUB_LOGIN_SECRET=...

# Comma separated list of GitHub logins
# for users which are allowed to modify data
GITHUB_LOGIN_ALLOWED_USERS=login1,login2

####
#
####

# Secret key for sessions
# https://flask.palletsprojects.com/en/stable/quickstart/#sessions
# Generate it with `python -c 'import secrets; print(secrets.token_hex())'`
APP_SESSION_SECRET_KEY=...
